.back {
  position: absolute;
  top: 10px;
  left: 1%;
  font-size: 60px;
  text-decoration: none;
  color: white;
  z-index: 10;
  font-weight: bold;
  transform: rotate(180deg);
  animation: backFadein 1s;
  transition: opacity 0.5s;
  opacity: 0.8;
  margin: 0;
  padding: 0;
  line-height: 1em;

  &:hover {
    opacity: 1.0;
    text-shadow: 0 0 0.15em #1da9cc;
    text-decoration: none;
  }

  &.fade-out {
    opacity: 0;
  }
}

.next {
  position: absolute;
  top: 5%;
  right: 1%;
  font-size: 60px;
  text-decoration: none;
  color: white;
  z-index: 10;
  font-weight: bold;
  animation: backFadein 1s;
  transition: opacity 0.5s;
  opacity: 0.8;

  &:hover {
    opacity: 1.0;
    text-shadow: 0 0 0.15em #1da9cc;
    text-decoration: none;
  }

  &.fade-out {
    opacity: 0;
  }
}

.layout {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  overflow-y: hidden;
}
